.App {
  text-align: center;
}

#courses p{
  background-color: #67dcff;
  padding: 4px;
  color: #FFF;
  width: 400px;
  margin: 10px auto;

}

#courses p:hover{
  background-color: #52b3d9;
  color: #FFF;
  cursor: pointer;
}
#courses p.active{
  background-color: #446cb3;
  color: #FFF;
}
#courses p.active b{
  color: #FFF;
}

#total {
  background-color: #3fc380 !important;
  padding-top: 10px;
  cursor: default !important;
  color: #FFF;
  
}

